body,
html {
  font-family: 'Arvo', serif;
  margin: 0;
  padding: 0;
  position: relative;
  
}

#backDrop {
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
}

#newEventModal {
  display: none;
  z-index: 10;
  position: absolute;
  top: 20%;
  left: 20%;
  background-color: beige;
  border-radius: 15px;
  height: 400px;
  width: 400px;
}

#header {
  width: 100%;
  height: 5vh;
  text-align: center;
  background-color: #1D1F20;
  color: #8E4C9E;
  padding-bottom: 50px; 
  padding-top: 10px;
}

#weeksInfo {
  display: grid;
  width: 80%;
  height: 100%;
  padding-left: 20%;
  text-align: center;
  background-color: #1D1F20;
  color: #8E4C9E;
  padding-top: 20px ;
}

.weekNum {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px 0;
}

#container {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  background-color: #1D1F20;
}

#expensesPanel {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100%;
  width: 20%;
  background-color: #1D1F20;
  color: #8E4C9E;
}


#header div button {
  width: 200px;
  margin: 20px;
  background-color: rgba(113, 20, 35, 0.8);
  border-radius: 10px;
  border: 1px black solid;
  color: white;
  padding: 10px;
}

.amount {
  color: #8E4C9E;
  background-color: white;
}

.expenseItem {
  border-bottom: 1px solid rgba(113, 20, 35, 0.5);
  display: flex;
  align-items: center;
}

#weeks {
  display: grid;
  height: 100%;
  width: 80%;
}

.newWeek {
  position: relative;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(113, 20, 35, 0.5);
  transition: all 300ms ease-in-out;
}

.add {
  opacity: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-align: center;
  font-size: 22px;
  transition: opacity 350ms ease-in-out;
}

.fa-solid {
  opacity: 0;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 24px;
  transition: opacity 350ms ease-in-out;
}

.active:hover .add {
  opacity: 1;
}

.active:hover .fa-solid {
  opacity: 1;
}

.newWeek:hover {
  background-color: #EBF4FA;
  box-shadow: 0 0 15px #EBF4FA, 0 0 15px #EBF4FA;
  transform: scale(1.1);
  z-index: 1;
  border-radius: 5px;
  border: none;
}

#header div button:active {
  color: #8E4C9E;
  background-color: #1D1F20;
  border: 1px solid white;
}



