body,
html {
  margin: 0;
  padding: 0;
}

#month {
  width: 100%;
  height: 5vh;
  background-color: burlywood;
}

#container {
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
  overflow-y: hidden;
  display: flex;
}

#expensesPanel {
  background-color: blue;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 100%;
  width: 20%;
}

.expenseItem {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}

#weeks {
  display: grid;
  height: 100%;
  width: 80%;
}

.newWeek {
  background-color: blueviolet;
  border-right: 1px solid black;
}